###########################################################################
#                            TextMate Snippets                            #
###########################################################################

snippet author "Javascript Author Doc"
/**
 * 
 * @author ${1:author_name}
 *
 * @date `date +%Y-%m-%d\ %H:%M`
 *
 */
endsnippet

# vim:ft=snippets:
