###########################################################################
#                            TextMate Snippets                            #
###########################################################################

snippet author "Author Doc"
/**
 * 
 * @author ${1:author_name}
 *
 * @date `date +%Y-%m-%d\ %H:%M`
 *
 */
${2}
endsnippet

snippet ie8- "IE8-, include ie8"
document.all && !document.addEventListener
endsnippet

# vim:ft=snippets:
