###########################################################################
#                            TextMate Snippets                            #
###########################################################################

snippet class "Class PHP-FIG"
class ${1:className}
{
	${2}
}
endsnippet

snippet func "Function PHP-FIG"
${1:public }${2:static }function ${3:funcName}(${4})
{
	${5}
}
endsnippet
